@font-face {
  font-family: poppies;
  src: url(./fonts/poppies.woff2);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-position: center;

  font-family: poppies, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: white;
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(58, 58, 158, 0.8);
  top: 0;
  z-index: -1;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

form {
  background-color: rgba(15, 15, 20, 0.5);
  width: 650px;
  margin: auto;
  padding-top: 40px;
  border-radius: 3px;
}

@media only screen and (max-width: 650px) {
  form {
    width: 100%;
  }
}

label {
  display: block;
  margin-bottom: 6px;
}

fieldset {
  padding: 0 40px;
  border: none;
  margin-bottom: 28px;
  position: relative;
}

input:not(input[type="checkbox"], input[type="radio"]),
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0px;
}

textarea {
  height: 120px;
}

input[type="submit"] {
  background-color: #37af65;
  color: white;
}
