@font-face {
  font-family: poppies;
  src: url(./fonts/poppies.woff2);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-position: center;

  font-family: poppies, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(58, 58, 158, 0.8);
  top: 0;
  z-index: -1;
}

h1 {
  text-align: center;
}

#survey-form {
  background-color: rgba(43, 43, 73, 0.9);
  width: 650px;
  margin: auto;
}
.w100 {
  width: 100%;
}

/* .p */
.p {
  padding-right: 44px;
  padding-left: 44px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.pt8px {
  padding-top: 8px;
}
.pb8px {
  padding-bottom: 8px;
}
/* .p ........*/
/* .m */

.mb8px {
  margin-bottom: 8px;
}
.mb {
  margin-bottom: 30px;
}
/* .m........ */
.block {
  display: block;
}
#title {
  font-family: sans-serif;
}
#description {
  text-align: center;
  font-style: italic;
  font-size: larger;
}
/* .bordarradios */
.border-radios-4px {
  border-radius: 4px;
}
/* .bordarradios */

.bordernone {
  border: none;
}
